@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&family=Roboto:wght@400;700&display=swap');

* {
    /*add any padding doesnt effect the width of it*/
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*center eeverything more easily*/
    /*puts everything in a row*/
    display: flex;
    /*puts everything back into column*/
    flex-direction: column;
    /*if flex direction row it would center vertial, if column will center horizontal*/
    align-items: center;
    /*will center items horizontal if not already NEEDS TO HAVE A HEIGHT THO*/
    justify-content: center;
    height: 100vh;
    /*so that scroll bars aren't shown by default*/
    /* overflow: hidden; */
    /*get rid of the margin*/
    margin: 0;
}